
<div class="jumbotron" style="padding-top:30px;">
  <div class="text-center">
      <h1 class="display-4">Angular + Firestore</h1>
      <p class="lead">(CURD OPERATIONS)</p>
      <p><small class="text-secondary">
          Angular 7 CRUD operations implemented using Firestore  In this project, I have shown how to do CRUD operations - Insert, Update and Delete in Angular 7 Project with Cloud Firestore.  Inserted records are listed in an HTML table. After selecting an record user can update Firestore document.
      </small></p>
  </div>
<hr><br>
<div class="row">
    <div class="col-md-5">
      <p class="lead">Employee Insert/Update</p>
      <app-employee></app-employee>
    </div>
    <div class="col-md-7">
        <p class="lead">Employee List/Delete </p>
        <app-employee-list></app-employee-list>
    </div>
  </div>
</div>